<div id="contact">
  <div class="contact">
    <h1>Edycja Formularza</h1>
    <p id="notice"><%= notice %></p>
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>






