<%= render 'contact_details' %>



<div id="contact">
  <div class="contact">
    <h1>Możesz skontaktować się z nami także przez formularz </h1>
    <p id="notice"><%= notice %></p>
    <%= render 'form' %>

  </div>
</div>


