<h1>Listing admin_photos</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.name %></td>
        <td><%= link_to(image_tag(photo.image.thumb('64x64!').url, alt: nil), photo_path(photo)) if photo.image_stored? %></td> <!-- Tu modyfikacja scieżki z photo na photo_path(photo) -->
        <td><%= link_to 'Show', photo_path(photo) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>
