<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p id="center">
  <%= image_tag @photo.image.thumb('x800').url if @photo.image_stored? %>
</p>


<p id="colors">



<%= link_to 'Back', photos_path %>
</p>