// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.contacts {
  width: auto;
  height: 1100px;
  font-size: medium;

  .body {
    height: 1000px;
  }

  background: linear-gradient( #677380, #38434F) repeat scroll 0% 10% transparent;

  .navbar-nav {
    float: right;
    margin-right: 30px;
  }

  .navbar-inverse {
    background-color: transparent;
    border-color: #090909;
  }

  #contact {
    .contact {
      text-align: center;
    }
    #notice {
      color: green;
      font-size: 17px;
    }
  }




}