// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photos {
  width: auto;
  height: 1100px;
  font-size: medium;

  .body {
    height: 1000px;
  }

  background: linear-gradient(#38434F, #677380) repeat scroll 0% 10% transparent;

  .navbar-nav {
    float: right;
    margin-right: 30px;
  }

  .navbar-inverse {
    background-color: transparent;
    border-color: #090909;
  }

  #photo {
    .row {
      color: #333;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      .col-md-4 {
        display: inline-block;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 280px;
      }
    }
  }

  #center {
    text-align: center;
  }


  #colors {
    a {
      background-color: aqua;
    }
  }

  #gallery-1 {
    margin: auto;
  }
  .gallery {
    letter-spacing: normal;
  }
  .gallery {
    clear: both;
    margin: 0 auto 18px;
    overflow: hidden;
  }



  .thumbnail_new {
    #background-color: white;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
  }

  .pagination {
    .previous_page { background:#677380; color:white }
    .previous_page.disabled { background: white; color: #777 }
    .current { background: white }
    .next_page { background: #677380; color: white }
    .next_page.disabled { background: white; color: #777 }
    font-size: 17px;
  }



}
