// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.static_pages {
  width: auto;
  height: 1100px;
  font-size: medium;

  #about {
    text-align: center;
    color: #9D9D9D;
  }
}